In [73]:
import pandas as pd
df = pd.read_csv('dataset.csv')

In [74]:
df.shape

(1098075, 6)

In [75]:
df.columns

Index(['id', 'activity', 'timestamp', 'x', 'y', 'z'], dtype='object')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098081 entries, 0 to 1098080
Data columns (total 6 columns):
id           1098076 non-null float64
activity     1098076 non-null object
timestamp    1098076 non-null float64
x            1098076 non-null float64
y            1098076 non-null float64
z            1098075 non-null object
dtypes: float64(4), object(2)
memory usage: 50.3+ MB

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098075 entries, 0 to 1098074
Data columns (total 6 columns):
id           1098075 non-null float64
activity     1098075 non-null object
timestamp    1098075 non-null float64
x            1098075 non-null float64
y            1098075 non-null float64
z            1098075 non-null float64
dtypes: float64(5), object(1)
memory usage: 50.3+ MB

In [77]:
df.describe()

                 id     timestamp             x             y             z
count  1.098075e+06  1.098075e+06  1.098075e+06  1.098075e+06  1.098075e+06
mean   1.886072e+01  3.340642e+13  6.624991e-01  7.255579e+00  4.111149e-01
std    1.021471e+01  4.945215e+13  6.849194e+00  6.745974e+00  4.754187e+00
min    1.000000e+00  0.000000e+00 -1.961000e+01 -1.961000e+01 -1.980000e+01
25%    1.000000e+01  2.018925e+12 -2.871947e+00  3.170000e+00 -2.220000e+00
50%    1.900000e+01  9.719580e+12  2.700000e-01  7.930000e+00  0.000000e+00
75%    2.800000e+01  4.995680e+13  4.440000e+00  1.156000e+01  2.720000e+00
max    3.600000e+01  2.093974e+14  1.995000e+01  2.004000e+01  1.961000e+01

In [78]:
df.describe(include=['object'])

       activity
count   1098075
unique        6
top     Walking
freq     424395

In [79]:
df['activity'].value_counts()

Walking       424395
Jogging       342050
Upstairs      122868
Downstairs    100427
Sitting        59939
Standing       48396
Name: activity, dtype: int64

In [80]:
df['activity'].value_counts(normalize=True)

Walking       0.386490
Jogging       0.311500
Upstairs      0.111894
Downstairs    0.091457
Sitting       0.054586
Standing      0.044073
Name: activity, dtype: float64

In [91]:
df['activity'].unique()

array(['Upstairs', 'Jogging', 'Walking', 'Downstairs', 'Sitting',
       'Standing'], dtype=object)

In [90]:
df[df['activity'] == 'Walking'].iloc[:,3:].describe()

                   x              y              z
count  424395.000000  424395.000000  424395.000000
mean        1.528307       8.702009      -0.084221
std         5.793349       5.006497       4.011062
min       -19.610000     -18.850000     -19.380000
25%        -2.150000       5.280000      -2.370000
50%         0.950000       8.770000      -0.503953
75%         4.820000      12.150000       1.690000
max        19.910000      20.040000      19.230000

In [ ]:
df[df['activity'] == 'Walking'].iloc[:,3:].describe()